
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">    
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h2  class="text-center mb-3 mt-5 dog display-4">
        <img src="/img/dog-family.png" width="150px" alt="" srcset=""><br/>
        <%=breedName%></h2>
        <div class="container">
            <div class="row">
                <% dogBreeds.forEach(breed => { %>
                    <div class="col-md-3 mb-3">
                        <div class="card">
                            <img class="card-img-top" src=<%=breed%> height="220px" />
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>

        
    
    
</body>
</html>